<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grep</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .step-links {
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="container">
        <h1>Grep function:</h1>

            <form method="POST" action="">
                {% csrf_token %}
                <label>Regex</label>
                <input name="regex">
                <label>Path to file</label>
                <input name="file_path">
                <input type="submit" value = "Start grep">
            </form>
        </section>
        <section>
            <input type="checkbox" name="recursive" >Recursive</input>
            <input type="checkbox" name="number">Show numbers</input>
            <input type="checkbox" name="word_search">Word search</input>
            <input type="checkbox" name="reverse">Reverse</input>
        </section>
        <section class="answer">
            <h2>Answer:</h2>
            {% for line in list_result %}
                {{ line }}<br />
            {% endfor %}
        </section>

    </div>
</body>